<div id="inner">
<% for article in @articles %>
	<h1><%= link_to article.title, article %></h1>
	<p> 
	<%= article.created_at.strftime('%b %d, %Y') %> by Dr. Rawls.
	<!--<% for author in article.users %>
 		<%=h author.name %> 
	<% end %>!-->
	</p>
		<%= RedCloth.new(article.excerpt).to_html %>
		<div style="background-color: #F8F5DE; border: 1px solid #EDE9B7; height: 40px;">
			<p style="float:left; width: 80%; margin-left: 5px; color: #B33332;">Categories:  
			<% for category in article.categories %>
			<%= link_to category.name, category_path(category) %>, 
			<% end %></p>
		<p style="float: right; margin-right: 5px; color: #B33332;"><%= (pluralize(article.comments.size, 'comment')) %></p>
		
		</div>
		<p style="text-align: right; font-weight: bold;"><%= link_to 'Read Full Article', article %>

	<p style="clear:both; height: 20px;"></p>
<% end %>
</div>
<div id="sidebar">
  <%= image_tag("../images/theme/sidebartop.jpg", :alt => "First Do No Harm Product Group") %>
	<div class="sidebarpiece">
	<img height="234" width="271" src="/uploads/Image/drrawlspic4.jpg" id="drrawlspic" alt="" />
	<h4>Categories</h4>
	<%= render :partial => "categories/index" %>
	</div>
	<div class="sidebarpiece">
	<h4>Tags</h4>
	<%= render :partial => "tags/list" %>
	</div>
	<div class="sidebarpiece">
	<h4>Archives</h4>
	<% @article_months.sort.each do |month, articles| %>
  	<p style="color:#E44E01;margin:0;padding:0;"><%= link_to month.strftime('%B'), articles_path(:search => month.strftime('%m')) %> (<%= articles.size %>)</p>
	<% end %>
	</div>
	<div class="sidebarpiece">
	<h4>RSS</h4>
	<a href="/articles.rss">Subscribe to RSS Feed</a>
	</div>
        <div class="sidebarpiece">
          <h4>Newsletter</h4>
          <style type="text/css">
            .link,#SignUp .signupframe {
            color: #226699;
            font-family: Arial, Helvetica, sans-serif;}
            .link {text-decoration: none;}
            #SignUp .signupframe {
            border: 1px solid #000000;
            background: #ffffff;}
          </style>
          <script type="text/javascript" src="http://app.icontact.com/icp/loadsignup.php/form.js?c=575836&l=18069&f=3597"></script>
          <a class="link" href="http://www.icontact.com"><font size="2">Email Marketing You Can Trust</font></a>
        </div>
  <%= image_tag("../images/theme/sidebarbottom.jpg", :alt => "First Do No Harm Product Group") %>
</div>