<h1>Step 1: Basic Essentials</h1>
  <p>In this section, you will find the top supplements that Dr. Rawls recommends as part of an optimal health regimen. These everyday supplements will provide a base for additional products and recommendations featured on this website.  Choose the appropriate age category below to find information and products tailored to fit your needs.</p>
    <div id="groupproduct">
      <div id="groupimage">
        <%= image_tag("../images/theme/womenmid.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
      </div>
      <div id="grouptext">
        <h2>Women Under 35</h2>
        <p>View our top supplement recommendations for Women Under 35</p>
        <%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), "/groups/4-women-under-35" %>
      </div>
    </div>
    <div id="groupproduct">
      <div id="groupimage">
        <%= image_tag("../images/theme/menyoung.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
      </div>
      <div id="grouptext">
        <h2>Men Under 35</h2>
        <p>View our top supplement recommendations for Men Under 35</p>
        <span><%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), "/groups/2-men-under-35" %></span>
      </div>
    </div>
  <br class="clear"/>
    <div id="groupproduct">
      <div id="groupimage">
        <%= image_tag("../images/theme/womenyoung.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
      </div>
      <div id="grouptext">
        <h2>Women 35-49</h2>
        <p>View our top supplement recommendations for Women age 35 - 49</p>
        <span><%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), "/groups/45-women-35-49" %></span>
      </div>
    </div>
    <div id="groupproduct">
      <div id="groupimage">
        <%= image_tag("../images/theme/menmid.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
      </div>
      <div id="grouptext">
        <h2>Men 35-49</h2>
        <p>View our top supplement recommendations for Men age 35 - 49</p>
        <span class="shopnow"><%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), "/groups/44-men-35-49" %></span>
      </div>
    </div>
  <br class="clear"/>
    <div id="groupproduct">
      <div id="groupimage">
        <%= image_tag("../images/theme/womenolder.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
      </div>
      <div id="grouptext">
        <h2>Women Over 50</h2>
        <p>View our top supplement recommendations for Women over 50</p>
        <span><%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), "/groups/3-women-over-50" %></span>
      </div>
    </div>
    <div id="groupproduct">
      <div id="groupimage">
        <%= image_tag("../images/theme/menolder.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
      </div>
      <div id="grouptext">
        <h2>Men Over 50</h2>
        <p>View our top supplement recommendations for Men over 50</p>
        <span><%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), "/groups/1-men-over-50" %></span>
      </div>
    </div>