<h1>Step 2: A Step Beyond</h1>
  <p>This section features supplements and products that will help you to live life to the fullest!  To view products, click the below category that best fits your needs.  <i>*Products and recommendations in this section work best when paired with the supplements in Part 1: Basic Essentials.</i></p>
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/antiagingtwo.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
    </div>
    <div id="grouptext">
      <h2><%= @agingmen.name %></h2>
      <%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), group_path(@agingmen) %>
    </div>
  </div>
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/focusandlearningstudents.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
    </div>
    <div id="grouptext">
      <h2><%= @focus.name %></h2>
      <%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), group_path(@focus) %>
    </div>
  </div>
  <br class="clear" />
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/improvedmental.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
    </div>
    <div id="grouptext">
      <h2><%= @improved.name %></h2>
      <%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), group_path(@improved) %>
    </div>
  </div>
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/preventingage.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
    </div>
    <div id="grouptext">
      <h2><%= @preventing.name %></h2>
      <%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), group_path(@preventing) %>
    </div>
  </div>
  <br class="clear" />
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/immune.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
    </div>
    <div id="grouptext">
      <h2><%= @immune.name %></h2>
      <%= link_to image_tag("../images/theme/shopnow.jpg", :class=>"shopnow"), group_path(@immune) %>
    </div>
  </div>
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/advancedsupplementation.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
    </div>
    <div id="grouptext">
      <h2>Advanced Anti-aging and Disease Prevention</h2>
      <a href="/groups/76-advanced-supplementation-and-disease-recovery"><%= image_tag("../images/theme/shopnow.jpg", :class=>"shopnow") %></a>
    </div>
  </div>
  <br class="clear" />
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/toolsresources.jpg", :alt => "First Do No Harm Product Group", :style => "") %>
    </div>
    <div id="grouptext">
      <h2>Health Tools and Resources</h2>
      <a href="/groups/77-health-tools-and-resources"><%= image_tag("../images/theme/shopnow.jpg", :class=>"shopnow") %></a>
    </div>
  </div>
  <div id="groupproduct">
    <div id="groupimage">
      <%= image_tag("../images/theme/athletic.jpg", :alt => "First Do No Harm Product Health First", :style => "") %>
    </div>
    <div id="grouptext">
      <h2>Athletic Performance</h2>
      <a href="/groups/81-athletic-performance"><%= image_tag("../images/theme/shopnow.jpg", :class=>"shopnow") %></a>
    </div>
  </div>