<div id="slide">
  <div class="sample">
    <div class="mask1">
        <div id="box1">
          <span><a href="/groups?step=basic"><%= image_tag("../images/theme/rotation1.jpg", :alt => "alternative medicine & remedies", :style => "") %></a></span>
          <span><a href="/groups?step=basic"><%= image_tag("../images/theme/rotation2.jpg", :alt => "natural health supplements", :style => "") %></a></span>
          <span><a href="/groups?step=basic"><%= image_tag("../images/theme/rotation3.jpg", :alt => "nutraceutical supplements", :style => "") %></a></span>
          <span><a href="/groups?step=basic"><%= image_tag("../images/theme/rotation4.jpg", :alt => "nutritional supplements", :style => "") %></a></span>
          <span><a href="/groups?step=basic"><%= image_tag("../images/theme/rotation1.jpg", :alt => "alternative medicine & remedies", :style => "") %></a></span>
          <span><a href="/groups?step=basic"><%= image_tag("../images/theme/rotation2.jpg", :alt => "natural health supplements", :style => "") %></a></span>
          <span><a href="/groups?step=basic"><%= image_tag("../images/theme/rotation3.jpg", :alt => "nutraceutical supplements", :style => "") %></a></span>
          <span><a href="/groups?step=basic"><%= image_tag("../images/theme/rotation4.jpg", :alt => "nutritional supplements", :style => "") %></a></span>
        </div>
    </div>
  </div>
</div>