<div id="headingbg"><h2>Change a Tag</h2></div>
<div id="inner">
<% form_for([:admin, @tag]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.submit "Update Tag" %>
  </p>
<% end %>
</div>
<%= link_to 'Back', admin_tags_path %>
