<div id="headingbg"><h2>Settings</h2></div>
<div id="inner">
<% for settings in @settings %>
	<div id="headingbg"><h2>Site Name</h2></div>
	<div id="inner">
	<%=h settings.site_name %>
	</div>
	<div id="headingbg"><h2>Default SEO Meta Description</h2></div>
	<div id="inner">
	<%=h settings.site_desc %>
	</div>
	
	<div id="headingbg"><h2>Default SEO Keywords for Articles</h2></div>
	<div id="inner">
	<%=h settings.article_seo %>
	</div>
	
	<div id="headingbg"><h2>Default SEO Keywords for Pages</h2></div>
	<div id="inner">
	<%=h settings.page_seo %>
	</div>
	
	<div id="headingbg"><h2>Articles to show per page</h2></div>
	<div id="inner">
	<%=h settings.articles_display %>
	</div>

	<div id="headingbg"><h2>Show Full Artciles for RSS</h2></div>
	<div id="inner">
	<%=h settings.full_rss %>
	</div>
</div>
<p><%= link_to 'Edit Settings', edit_admin_setting_path(settings) %></p>
<% end %>