<div style="margin-right:10px; border: 1px gray solid; padding-left:10px; padding-bottom: 10px; margin-left: 10px;">
<% form_tag products_path, :method => 'get' do %>
  <h2>Search For Products</h2>
	<p>Product Name: <%= text_field_tag :searchname, params[:searchname], :style => "width:140px; margin-left:4px; margin-right: 13px;" %>
	Product Code: <%= text_field_tag :searchproductcode, params[:searchproductcode], :style => "width:140px; margin-left:4px;  margin-right: 13px;" %>
	<%= submit_tag "Search", :style => "margin-left:30px;", :name => nil %></p>
	<% end %>
</div>
<br />
<div id="inner">
<% if params[:searchname] %>
  <% for product in @products %>
      <% if product.active? %>
      <div class="clear" style="padding-top:15px;">
        <div id="relatedimage">
          <%= link_to image_tag(product.image.url(:thumb)), product %>
        </div>
        <div id="relatedcontent">
          <h2><%= link_to h(product.name), product %></h2>
          <p style="margin:0px;"><b><%=h number_to_currency(product.price) %></b></p>
          <p style="margin:0px;"><i>Sugg Retail: <%=h number_to_currency(product.retail_price) %> - You Save <%=h number_to_currency(product.retail_difference) %></i></p>
            <% if product.short_description != nil %>
              <%= RedCloth.new(product.short_description).to_html %>
            <% else %>
              <p>No Description</p>
            <% end %>
        <div class="clear">
          <p class="left" style="padding-top:10px;"><%= link_to image_tag("../images/theme/learnmore.jpg"), product %></p>
          <div class="right">
            <% form_tag :controller => 'line_items', :method => :post do%>
              <span id="quantityspan">Qty</span><%= text_field_tag :quantity, nil, :size => 2 %>
              <%= hidden_field_tag(:product_id, product.id) %>
              <%= hidden_field_tag(:weight, product.weight) %>
              <%= image_submit_tag("../images/theme/addtocart.jpg") %>
            <% end -%>
          </div>
        </div>
        </div>
      </div>
      <% end %>
  <% end %>
  <p style="clear:left;"><%= will_paginate @places, :inner_window => 4, :outer_window => 1, :style => "margin-top:30px; margin-bottom:10px;" %></p>
  <% else %>
  <h1>Our Products</h1>
  <% for producttag in @producttag %>
    <div class="specificconditions">
      <p class="stepthree">> <%= link_to producttag.name, producttag %></p>
    </div>
  <% end %>
<% end %>
</div>
<div id="sidebar" style="text-align:left;">
  <%= render :partial => "shared/cartsidebar" %>
</div>