<h1>Editing line_items</h1>

<% form_for(@line_items) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :unit_price %><br />
    <%= f.text_field :unit_price %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label :cart_id %><br />
    <%= f.text_field :cart_id %>
  </p>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @line_items %> |
<%= link_to 'Back', line_items_path %>